{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
        <title>Remainder</title>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }

            th, td {
                padding: 5px;
                text-align: left;
            }

            table#t01 {
                width: 100%;
                background-color: #f1f1c1;
            }
        </style>
    {% endblock %}
</head>
<body>
{% block content %}
    <a href="{% url 'transport:notification' %}">Read New Notification</a>
    {% if notify_insurance %}
        <table class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>Truck Number</th>
                <th>Insurance</th>
                <th>Read</th>
                <th>Remainder</th>
                <th>remaining_insurance</th>
                <th>remaining day</th>
            </tr>
            </thead>

            <tbody>

            {% for list in notify_insurance %}

                <tr>
                    <td>{{ list.truck_number }}</td>
                    <td>{{ list.insurance }}</td>

                    <td>{{ list.read }}</td>
                    <td>{{ list.remainder }}</td>
                    <td>{{ list.remaining_insurance }}</td>

                    <td>{{ list.remainded_for_remaining_day }}</td>
                </tr>

            {% endfor %}
            </tbody>

        </table>

    {% endif %}
    {% if notify_fitness %}
        <table class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>Truck Number</th>
                <th>Fitness</th>
                <th>Read</th>
                <th>Remainder</th>
                <th>remaining_fitness</th>
                <th>remaining day</th>
            </tr>
            </thead>

            <tbody>

            {% for list in notify_fitness %}

                <tr>
                    <td>{{ list.truck_number }}</td>
                    <td>{{ list.fitness }}</td>

                    <td>{{ list.read }}</td>
                    <td>{{ list.remainder }}</td>
                    <td>{{ list.remaining_fitness }}</td>

                    <td>{{ list.remainded_for_remaining_day }}</td>
                </tr>

            {% endfor %}
            </tbody>

        </table>

    {% endif %}
    {% if notify_pollution %}
        <table class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>Truck Number</th>
                <th>POllution</th>
                <th>Read</th>
                <th>Remainder</th>
                <th>remaining Fitness</th>
                <th>remaining day</th>
            </tr>
            </thead>

            <tbody>

            {% for list in notify_pollution %}

                <tr>
                    <td>{{ list.truck_number }}</td>
                    <td>{{ list.pollution }}</td>

                    <td>{{ list.read }}</td>
                    <td>{{ list.remainder }}</td>
                    <td>{{ list.remaining_pollution }}</td>

                    <td>{{ list.remainded_for_remaining_day }}</td>
                </tr>

            {% endfor %}
            </tbody>

        </table>

    {% endif %}
    {% if notify_insurance or notify_fitness or notify_pollution %}
        <table class="table table-bordered table-striped">

            <thead>
            <tr>
                <th>notifications</th>

            </tr>
            </thead>

            <tbody>

            {% for list in notify_insurance %}
                <tr>

                    <td><p>Remainder for Truck number {{ list.truck_number }} , Insurance Expired
                        in {{ list.remaining_insurance }} days, </p></td>

                </tr>

            {% endfor %}
            {% for list in notify_fitness %}

                <tr>
                    <td><p>Remainder for Truck number {{ list.truck_number }} , Fitness Expired
                        in {{ list.remaining_fitness }} days, </p></td>

                </tr>

            {% endfor %}
            {% for list in notify_pollution %}

                <tr>
                    <td><p>Remainder for Truck number {{ list.truck_number }} , Pollution Expired
                        in {{ list.remaining_pollution }} days, </p></td>

                </tr>

            {% endfor %}

            </tbody>

        </table>
    {% endif %}
{% endblock %}
</body>
</html>